# Server Configuration
PORT=3000
DATA_DIR=./data
UPLOAD_DIR=./uploads

# Security
JWT_SECRET=my_secret

# Default Admin Account
ADMIN_EMAIL=admin@bfar.gov.ph
ADMIN_PASSWORD=BFARAdminPassword!

# Supabase Credentials
SUPABASE_URL=supabase_url
SUPABASE_ANON_KEY=annon_key
SUPABASE_SERVICE_ROLE_KEY=service_key

# Google OAuth Credentials
GOOGLE_CLIENT_ID=client_id
GOOGLE_CLIENT_SECRET=client_secret

# Maps & Geolocation
MAPBOX_TOKEN=token_here

# Push Notifications (Web-Push)
VAPID_PUBLIC=vap_id
VAPID_PRIVATE=private_here

# AI Integration (Optional)
OPENAI_API_KEY=api_key
OPENAI_MODEL=gpt-4o-mini
ANTHROPIC_API_KEY=sk-ant-your_anthropic_key
ANTHROPIC_MODEL=claude-3-5-sonnet-20240620

# Free upto 1500 tokens
GEMINI_API_KEY=api_key
GEMINI_MODEL=gemini-2.5-flash